/*** Global ***/

* {
  /*
  border: 1px solid red;
  */
}

body, html {
  padding: 0;
  margin: 0;
}

body, ul, ol, li, p, h6 {
  color: black;
  font-family: Verdana, serif;
  font-size: 14px;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

p.narrative {
  padding-bottom: 20px;
}

/*** Header ***/

header {
  height: 100px;
  width: 100%;
  position: fixed;
  background: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  -webkit-box-shadow: 0px 20px 70px -20px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 20px 70px -20px rgba(0,0,0,0.25);
  box-shadow: 0px 20px 70px -20px rgba(0,0,0,0.25);
}

/*** Logo ***/

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  margin: auto 0;
  display: inline-flex;
}

.logo h6 {
  font-size: 14px;
  text-decoration: none;
  display: inline-flex;
  margin-left: 10px;
  color: MediumAquamarine;
}

/*** Menu ***/

.menu {
  margin: auto 0;
  justify-content: flex-end;
  align-items: center;
}

.menu ul li {
  display: inline-flex;
}

.menu ul li a {
  color: black;
  font-weight: bold;
}

/*** Main ***/

.content {
  display: flex;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  align-content: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 20px;
}

.column.left {
  flex: 0 1 630px;
}

.column.middle {
  flex: 0 1 300px;
}

.column.right {
  flex: 0 2 240px;
}

.stories {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.story {
  width: 300px;
}



/*** Content ***/

.story-content,
.overlay {
  margin: 20px;
}

.overlay.center {
  text-align: center;
}

/*** Images ***/

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.image-content {
  height: 300px;
  background-repeat: no-repeat;
}

.image-content.lead-story {
  background-image: url("../img/img-story-main.png");
}

.image-content.left-aside {
  background-image: url("../img/img-story-2.png");
}

.image-content.right-aside {
  background-image: url("../img/img-story-3.png");
}


























/**/
